body{
    background-color: #472183;
    font-family: 'EB-Garamond, serif';
}

h2{
    font-size: 3rem;
    color: #82C3EC;
    padding: 5%;
    font-weight: 200;
    font-style: italic;
}

#Title{
  display: flex;
  justify-content: center;
  padding: 3% 15%;
}

.Heading{
    font-size: 5rem;
    color: #82C3EC;
    font-weight: 900;
}

.row{
    margin: auto;
    text-align: center;
}

